{% extends "main.html" %} {% block content %}

<div class="updatecontainer">
  <div class="updatecard">
    <h1>Update Profile</h1>

    {% for msg in messages %}
    <h4>{{ msg }}</h4>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <label>First Name</label>
      <input type="text" name="fname" value="{{ data.first_name }}" required />

      <label>Last Name</label>
      <input type="text" name="lname" value="{{ data.last_name }}" required />

      <label>Email</label>
      <input type="email" name="email" value="{{ data.email }}" required />

      <label>Username</label>
      <input type="text" value="{{ data.username }}" readonly />

      {% comment %} <label>Current Profile Picture</label>

      <div class="updateimage">
        <img src="{{ profile.image.url }}" alt="Profile" />
      </div>
      {% endcomment %}

      <label>Change Profile Picture</label>
      <input type="file" name="image" />

      <button type="submit">Update Profile</button>
    </form>
  </div>
</div>

{% endblock %}
