<nav>
  <div class="logo">
    <h1>ToDo</h1>
  </div>

  <div class="links">
    {% if user.is_authenticated %}

    <a
      href="{% url 'home' %}"
      class="{% if request.path == '/' %}active{% endif %}"
      >HOME</a
    >
    <a href="">ADD</a>
    <a href="">COMPLETED</a>
    <a
      href="{% url 'trash' %}"
      class="{% if request.resolver_match.url_name == 'trash' %}active{% endif %}"
    >
      TRASH
    </a>
    <a href="{% url 'logout_' %}"> LOGOUT </a>
    <a
      href="{% url 'profile' %}"
      class="{% if request.path == '/auth/profile/' %}active{% endif %}"
      >PROFILE</a
    >
    {% else %}
    <a
      href="{% url 'login_' %}"
      class="{% if request.path == '/auth/login/' %}active{% endif %}"
      >LOGIN</a
    >
    <a
      href="{% url 'register' %}"
      class="{% if request.path == '/auth/register/' %}active{% endif %}"
      >REGISTER</a
    >
    <a
      href="{% url 'about' %}"
      class="{% if request.path == '/auth/about/' %}active{% endif %}"
    >
      ABOUT
    </a>
    {% endif %}
  </div>
</nav>
